@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");

@font-face {
  font-family: "digital-7__mono_";
  src: url("./fonts/digital-7__mono_.ttf");
}

body {
  background-color: grey;
}

div#calculator-background {
  background-color: rgb(0, 0, 0);
  width: 60vmin;
  height: 80vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vmin;
  box-shadow: 10px 10px 10px;
  border: 10px outset rgb(49, 49, 49);
  border-radius: 10px;
}

.container#interface {
  display: grid;
  /* 5 rows of buttons, 1 screen twice the height */
  grid-template-rows: 1.5fr 0.75fr 1fr 1fr 1fr 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 2vmin;
  width: 92%;
  height: 92%;
}

.item {
  background-color: rgb(56, 56, 56);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 7vmin;
  color: white;
  border-radius: 5px;
}

button {
  border: 3px outset rgba(112, 112, 112, 0.5);
  background-clip: border-box;
}

button:hover {
  cursor: pointer;
}

button:active {
  border: 3px inset rgba(112, 112, 112, 0.5);
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 9px;
}

button.active {
  border: 3px inset rgba(112, 112, 112, 0.5);
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 9px;
}

div#screen {
  grid-column: 1 / 5;
  background-color: rgb(0, 122, 0);
  color: black;
  padding: 20px;
  justify-content: flex-end;
  border-radius: 0px;
  font-family: "digital-7__mono_", monospace;
  font-size: 12vmin;
  border: 5px inset rgb(0, 82, 0);
}

#clear {
  grid-column: 1/3;
}

#backspace {
  grid-column: 3/5;
}

div#operators {
  grid-column: 4/5;
  grid-row: 3/7;

  display: grid;
  height: 100%;
  /* add operator twice as big as the others */
  grid-template-rows: 1fr 1fr 1fr 2fr;
  grid-template-columns: 1fr;
  gap: 2vmin;
  background-color: transparent;
  /* background-color: red; */
}

button.operator {
  background-color: rgb(110, 110, 110);
  align-self: stretch;
  font-size: 6vmin;
}

.active-operator {
  color: rgb(255, 243, 139);
  text-shadow: 0px 0px 5px rgb(255, 243, 139);
}

.edit {
  font-size: 4vmin;
  background-color: rgb(204, 133, 0);
  color: black;
  font-weight: bolder;
}
